/* This page is meant for the header navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #120A8F;;
}

li {
    float: left;
    border: 2px solid #7e828F;
    padding: 15px 15px 15px 15px;
    text-align: center;
    width: 10%;
}

li:hover {
    background-color: #1d5f8F;
}

li:last-child {
    border-right-width: 0px;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

li  a:hover:not(.active) {
    background-color: yellow;
}

.active  {
    background-color: #1E4F8F;
    padding: 15px 20px 15px 15px;
    margin: -15px -15px -15px -15px;

    display:flex;
}

