/* This page deals with the basic structure of the page */

#header {
    background: #120A8F;
    font-family: 'MV BOLI';
    color: #FFFFFF;
    height: 50px;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    line-height: 16px;
    background: #e7e6ec;
}

#footer {
    background: black;
    font-family: 'Verdana';
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 24px;
    clear: left;
    position: absolute;
    bottom: 0px;
}