/* This page deals with the responsiveness of the page */

/* this collapses the right silhouettes */ 
@media (max-width: 700px) {
    
    #leftcolumn {
        margin-right: 0px;
    }

    #rightcolumn {
        float: none;
        width: 100%;
        margin-left:  0px;
        clear: both;
    }

    #centercolumn {
        margin-right: 0px; 
    }
}

/* this collapses the left silhouettes*/
@media (max-width: 700px) {
    #leftcolumn {
        float: none;
        width: 100%;
        clear: both;
        margin-left: 0;
    }

    #centercolumn {
        margin-left: 0;
    }
}