/* This page is meant for the header navigation bar */

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #120A8F;
    
}

li {
    float: left;
    border: 2px solid #7e828F;
    padding: 15px 15px 15px 15px;
    text-align: center;
    width: 10%;
    border-color: #3370ff;
}

li:hover {
    background-color: #1d5f8F;
}

li:last-child {
    border-right-width: 4px;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

li  a:hover:not(.active) {
    background-color: #3370ff;
}

.active  {
    background-color: #1E4F8F;
    padding: 15px 20px 15px 15px;
    margin: -15px -15px -15px -15px;

    display:flex;
}

