/* This page deals with the responsiveness of the page */

/* this collapses the silhouettes */ 
@media (max-width: 800px) {
    #columnwrapper {
        display: inline;
    }
    
    #leftcolumn {
        float: left;
        width: 100%;
        clear: both;
    }

    #rightcolumn {
        float: right;
        width: 100%;
        clear: both;
    }

    #centercolumn {
        float: center;
        width: 100%;
        clear: both;
    }
}



/* this expands the silhouettes*/
@media (min-width: 800px) {
    #columnwrapper {
        width: 100%;
    }
    
    #centercolumn {
        float: center;
        width: 50%;
        clear: both;
    }

    #leftcolumn {
        float: left;
        width: 25%;
        clear: both;
        border: none;
    }

    #rightcolumn {
        float: right;
        width: 25%;
        clear: both;
        border: none;
    }
}

